.roundWrapper {
    width: 100%;
    flex: 1;
    padding: 3px;
}

.roundTitle {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.roundScore {
    font-size: 14px;
    font-weight: 300;
}